@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 100vw;
	height: 100vh;
	color: #fff;
	text-align: center;
	overflow: hidden;



	#video-bg {
		position: fixed;
		top: 0;
		left: 0;
		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
		background-size: cover;
		z-index: -102;

	}

	.main {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		padding-top: 30px;

		.navbar {
			list-style-type: none;

			li {
				display: inline-block;

				a, h2 {
					color: #fff;
					text-transform: uppercase;

					&:hover {
						text-decoration: none;
					}
				}

			}

			.logo {
				margin: 0 60px 0 60px;
				font-weight: 500;
				letter-spacing: 9px;
			}
		}

	}

	.cta {
		margin-top: 130px;

		h1 {
			font-weight: 500;
			font-size: 4em;
		}

		.find-btn {
			display: inline-block;
			margin-top: 50px;
			padding: 13px;
			width: 300px;
			background-color: #D5116B; /* #FB7D7D */
			color: #fff;
			border-radius: 5px;
			font-family: 'Roboto', sans-serif;
			font-size: 1.3em;

			i {
				margin-right: 15px;
				font-size: 1.3em;
			}

			&:hover {
				text-decoration: none;
			}

		}

		p {
			font-style: italic;
			font-size: 1.3em;
			font-weight: 400;
			margin-top: 50px;
		}
	}



}

.space-container {
	width: 100%;
	text-align: center;

	.main {

		padding-top: 35px;
		
		.info-msg {
			margin-bottom: 20px;
		}

		nav {
			margin-bottom: 50px;


			.navbar {
				list-style-type: none;

				li {
					display: inline-block;

					a {
						text-transform: uppercase;
						color: #000;

						&:hover {
							text-decoration: none;
						}
					}

				}

				.logo {
					margin: 0 60px 0 60px;
					font-weight: 500;
					letter-spacing: 9px;
				}
			}

		}
	}

	

	.space {
		border-bottom: 1px solid #ECECEC;
		padding: 40px;

		.space-name {
			color: #000;
			-webkit-transition: color 0.5s linear;
			-moz-transition: color 0.5s linear;
			-o-transition: color 0.5s linear;
			transition: color 0.5s linear;

			&:hover {
				color: #D5116B;
				text-decoration: none;
			}
				


		}
	}
}

@media all and (max-width: 500px) {

	#video-bg {
		display: none;
	}

	.container {
	background: url(../img/bg.jpg) center center no-repeat;
	}
	
	.logo {
			margin: 0 20px 0 20px;
			letter-spacing: 3px;
		}
}