<div class="space-container animated fadeInRight" ng-controller="MainCtrl as main">

	<div class="main">

		<nav>
			<ul class="navbar">
				<li><a href="#">About</a></li>
				<li class="logo">
					<a href="/"><h2>Space.</h2></a>
				</li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>

		<div class="info-msg">
			<h1 ng-if="main.loading">Hang on. Getting your location and Spaces...</h1>
			<h2 ng-cloak>Showing popular Spaces for {{main.cityName}}</h2>
		</div>
		
		<div class="space" ng-repeat="place in main.place" ng-cloak>
			<div class="place-info">
				<a href="{{place.url}}" class="space-name"><h2>{{place.name}}</h2></a>
				<p class="address">{{place.location.address}} - {{place.location.city}}</p>
			</div>
		</div>
	</div>
</div>