<div class="space-container animated fadeInRight" ng-controller="MainCtrl as main">
		<h1 ng-if="main.loading">Hang on. Getting your location and Spaces...</h1>
		<h2 ng-cloak>Showing popular Spaces for {{main.cityName}}</h2>
		<div class="space" ng-repeat="place in main.place" ng-cloak>
			<div class="place-info">
				<a href="{{place.url}}" class="place-name"><h2>{{place.name}}</h2></a>
				<p class="address">{{place.location.address}} - {{place.location.city}}</p>
			</div>
		</div>
	</div>