<div class="container">
	

	<video loop autoplay muted id="video-bg">
		<source src="/video/dolores.webm" type="video/webm">
		<source src="/video/dolores.mp4" type="video/mp4">
	</video>

	<div class="main">
		<nav>
			<ul class="navbar">
				<li><a href="#">About</a></li>
				<li id="logo"><a href="#"><h2>Space.</h2></a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>

		<div class="cta">
			<h1>Find Places To Go.</h1>
			<a href="/spaces" class="find-btn"><i class="fa fa-map-marker"></i>Spaces Around Me</a>
			<p>Please have your location turned on. </br>
			Space does not store your location or any other personal information.
			</p>
		</div>
	</div>
	
</div>